<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" />
    <link rel="stylesheet" type="text/css" href="/app.css">
    <title>Mobinfo</title>
</head>

<body>

    <div class="ui inverted menu">
        <a href="/" class="active olive item"><i class="large mobile icon"></i>Mobinfo</a>
        <a href="/" class="item">Home</a>
        <a href="/phones/new" class="item">Add Phone</a>
    </div>